header{
    display: flex;
    height: 50px;
    background-color: rgb(237, 241, 245);
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0;
}
.logo{
    display:flex;
    height: 150px;
}
a{
    text-decoration: none;
    color: black;
}

nav a{
    padding-right: 10px;

}
body{
    text-align: center;
    background-color: rgb(223, 224, 240);
    }
